body {
	padding-top: 70px;
	padding-bottom: 20px;
}

.panel-title > img {
	position: relative;
	margin-right: 5px;
	max-height: 23px;
}

.list-group-item {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.list-group-item > img {
	position: relative;
	margin-right: 10px;
	max-height: 20px;
	min-width: 20px;
	max-width: 20px;
}

