body {
	padding-top: 70px;
	padding-bottom: 20px;
}

.panel-title > img {
	position: relative;
	margin-right: 5px;
	max-height: 23px;
}

.list-group-item > img {
	position: relative;
	margin-right: 5px;
	max-height: 20px;
}

